button {
    margin-left: 5px;
}
.message {
    position: relative;
    padding:15px;
    margin:1em 30px 1em;
    border:4px solid #74CAEE;
    color:#333;
    background:#fff;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.message:before {
    content:"";
    position:absolute;
    bottom:-20px;
    left:40px;
    border-width:20px 20px 0;
    border-style:solid;
    border-color:#74CAEE transparent;
    display:block;
    width:0;
}

.message:after {
    content:"";
    position:absolute;
    bottom:-13px;
    left:47px;
    border-width:13px 13px 0;
    border-style:solid;
    border-color:#fff transparent;
    display:block;
    width:0;
}

.message.left:before {
    top:10px;
    bottom:auto;
    left:-30px;
    border-width:15px 30px 15px 0;
    border-color:transparent #74CAEE;
}

.message.left:after {
    top:16px;
    bottom:auto;
    left:-21px;
    border-width:9px 21px 9px 0;
    border-color:transparent #fff;

}
/*--------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------Main menu navigation---------------------------------------------------*/
.nav a {
    color: #777777;
    text-decoration: none;
}
.nav a:hover {
    color: #333333;
}

.nav ul {
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
    display: none;
    margin: 0px;
    max-width: 150px;
    padding: 0px;
    position: absolute;
    top: 40px;

    -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
}

.nav li:hover > ul{
    display: block;
}
.nav li:hover ul > li {
    border-top: 1px solid #c5c5c5;
    list-style-type: none;
    min-height: 30px;
    position: relative;
    padding: 15px 15px 5px 15px;
    text-align: left;
}
/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------General styles----------------------------------------------------*/
.avatar {
    display: inline-block;
    height: 50px;
    width: 50px;
}
.avatar img {
    border-radius: 7px;
}

.container-group {
    background-color: #fafafa;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 15px;
    width: 95%;

    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.email {
    border-left: 1px solid #d4d4d4;
    display: inline-block;
    padding: 5px 10px 5px 20px;
    width: 30%;
}

.head{
    text-align: center;
}
.row-item {
    border-bottom: 1px solid #d4d4d4;
    margin-top: 5px;
    padding-bottom: 5px;
}

.text {
    border-left: 1px solid #d4d4d4;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    width: 15%;
}
.error {
    color: #b94a48 !important;
    border-color: #ee5f5b !important;
}
.error:focus{
    border-color: #e9322d !important;
    -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
    -moz-box-shadow: 0 0 6px #f8b9b7 !important;
    box-shadow: 0 0 6px #f8b9b7 !important;
}
/*--------------------------------------------------------------------------------------------------------------------*/

#TableOfMessages {
    table-layout: fixed;
    width: 55em;
}

#NamesOfUsersInTableOfMessages {
    text-align: center;
    vertical-align: middle;
    width: 8em;

}

#MessageSend {
   margin-left: 1.5em;
}

#MessageForm {
   margin-left: 3em;
   resize: none;
   min-width: 75%;
}

/*------------------------*/

.main-container {
    padding-top: 60px;
}

.cursorOnNoLink {
    cursor: pointer;
}

.mycontainer {
    background-color: #eeeeee;
    background-image: url('../js/287.gif');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
}

.mycontainer * {
    opacity: .8;
}